<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <a class="navbar-brand" href=""><%= link_to("Wikinimous", articles_path) %></a>
      <span class="navbar-text"><%= link_to("New article", new_article_path) %></span>
    </nav>

  </div>
  <div class="container">
    <articles>
    <%= yield %>
  </articles>
  </div>
  </body>
</html>
